@charset "utf-8";

/*
   final

   Portfolio website
    Author: Connor Gray
      Date:   12/3/18
   Filename:  Education.html

*/


/* Article Styles */
article > img{
	border: 1px solid rgb(20, 167, 170);
	border-radius: 25px;
}
	


 


